<!DOCTYPE html>
<html>
  <head>
    <title>ActionCableExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
     <form id="new_notification" onsubmit="sendNotification(); return false;">
      <label for="message">Notification Message:</label>
      <input type="text" id="message" name="message" required>
      <button type="submit">Send Notification</button>
    </form>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
